@use "../foundation/variables" as *;

.calendar {

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: clamp(0.25rem, 1vw, 0.5rem);

    &-item {
      aspect-ratio: 3 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-base;
      background: $bg-cell;
      border: 1px solid $border-main;
      font-weight: 600;

      &--sunday { color: $color-sunday; }
      &--saturday { color: $color-saturday; }
    }
  }
}
