.group-detail {
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;

  &__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__delete {
    background: red;
    color: #fff;
    border: none;
    padding: 6px 12px;
    margin-bottom: 20px;
    border-radius: 6px;
  }

  &__members,
  &__users {
    list-style: none;
    padding: 0;
  }

  &__users li button {
    margin-left: 8px;
      background: #007bff;
      color: #fff;
      border: none;
      padding: 4px 8px;
      border-radius: 4px;
  }

  &__member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    button {
      margin-left: 8px;
      background: red;
      color: #fff;
      border: none;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
}
